<div class="container-s justify-content-center pl-25 m-auto">
    <%= render 'shared/error', obj: @article %>
    <div class="d-flex flex-column rows justift-content-center">
        <div class="justify-content-center">
            <%= form_with(model: @article, class: "shadow p-3 md-3 bg-info rounded", local: true) do |f| %>
                <div class="d-flex form-group rows">
                    <%= f.label :title, class: "col-2 col-form-label text-white" %>
                    <div class="col-10">
                        <%= f.text_field :title, class:"form-control", placeholder: "Title of article" %> 
                    </div>  
                </div>
                <div class="d-flex form-group rows">
                    <%= f.label :description, class: "col-2 col-form-label text-white" %>
                    <div class="col-10">
                        <%= f.text_area :description, rows: 10, class:"form-control", placeholder: "Description" %> 
                    </div>  
                </div>
                <div class="d-flex form-group rows">
                    <%= f.label :category, class: "col-2 col-form-label text-white" %>
                    <div class="col-10">
                        <%= f.collection_select(:category_ids, Category.all, :id, :name, {prompt: "make your selection from the below list(can be empty"}, {multiple: true, size: 5, class: "form-select form-control"}) %>
                    </div>  
                </div>
                <div class=" d-flex form-group rows justify-content-center">
                    <%= f.submit class: "btn btn-outline-light btn-lg m-auto"%>
                </div>
            <% end %>
        </div>
        <td><%= link_to '[ Cancel and Return to the article listing page ]', articles_path, class: "m-auto" %></td>
    </div>
</div>