<div id="page-content">
    <h1 class="text-center">Article page</h1>
    <div class="container">
        <div class="row justify-content-md-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                    by <%= @article.user.name if @article.user %>
                    <% if @article.user %>
                        <%= gravetar_for @article.user %>
                    <% end %>
                    <% if @article.categories.any? %>
                        <div class="mt-2">
                            <%= render @article.categories %>
                        </div>
                    <% end %>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><%= @article.title %></h5>
                    <p class="card-text"><%= simple_format(@article.description) %></p>
                    <div class="d-flex justify-content-center ">
                        <% if logged_in? && (@article.user == current_user || @article.user.admin?) %>
                            <%= button_to "Edit", edit_article_path(@article), class: "btn btn-outline-info ml-4", method: :get %>
                            <%= button_to "Delete", article_path(@article), data: {confirm: "are you sure?"}, class: "btn btn-outline-danger ml-4", method: :delete %>
                        <% end %>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <small> 
                        create <%= time_ago_in_words(@article.created_at)%> ago, 
                        edited  <%= time_ago_in_words(@article.updated_at)%>ago
                    </small>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>