<div class="container-s justify-content-center pl-25 m-auto">
    <%= render 'shared/error', obj: @user %>
    <div class="d-flex flex-column rows justift-content-center">
        <div class="justify-content-center">
            <%= form_with(model: @user,class: "shadow p-3 md-3 bg-info rounded", local: true) do |f| %>
                <div class="d-flex form-group rows">
                    <%= f.label :name, class: "col-2 col-form-label text-white" %>
                    <div class="col-10">
                      <%= f.text_field :name, class:"form-control", placeholder: "Enter user name" %> 
                    </div>  
                </div>
                <div class="d-flex form-group rows">
                    <%= f.label :email, class: "col-2 col-form-label text-white" %>
                    <div class="col-10">
                        <%= f.email_field :email, class:"form-control", placeholder: "User email" %> 
                    </div>  
                </div>
                 <div class="d-flex form-group rows">
                    <%= f.label :password, class: "col-2 col-form-label text-white" %>
                    <div class="col-10">
                        <%= f.password_field :email, class:"form-control", placeholder: "Create a password" %> 
                    </div>  
                </div>
                <div class=" d-flex form-group rows justify-content-center">
                    <%= f.submit class: "btn btn-outline-light btn-lg m-auto"%>
                </div>
            <% end %>
        </div>
        <td><%= link_to '[ Cancel and Return to the user listing page ]', articles_path, class: "m-auto" %></td>
    </div>
</div>